<div class="container">
<%= simple_form_for @friend do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :age %>
    <%= f.input :location %>
    <%= f.input :bio %>
    <%= f.input :interests %>
    <%= f.input :start_date, start_year: Time.now.year %>
    <%= f.input :end_date, start_year: Time.now.year %>
    <%= f.input :activity %>
    <%= f.input :price %>
    <%= f.input :image %>
    <%= f.button :submit, 'Create Friend', class: 'btn btn-primary mt-3' %>
  <% end %>
</div>
