<p><%= @friend.first_name %></p>
<p><%= @friend.last_name %></p>
<p><%= @friend.age %></p>
<p><%= @friend.bio %></p>
<p><%= @friend.location %></p>
<p><%= @friend.interests %></p>
<p><%= @friend.availability %></p>
