<p><%= @friend.first_name %></p>
<p><%= @friend.last_name %></p>
<p><%= @friend.age %></p>
<p><%= @friend.bio %></p>
<p><%= @friend.location %></p>
<p><%= @friend.interests %></p>
<p><%= @friend.start_date %></p>
<p><%= @friend.end_date %></p>
<p><%= @friend.price%></p>
<p><%= @friend.activity%></p>
<p><%= @friend.avg_rating %></p>
<%= cl_image_tag @friend.image, height: 300, width: 400, crop: :fill %>

<hr>
<p><%= @friend.user.first_name%> <%= @friend.user.last_name%></p>

<%= render 'bookings/form', friend: @friend, booking: @booking %>

<h2>Reviews</h2>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <h3><%= review.title %></h3>
        <p><%= review.body %></p>
        <p><%= review.rating %></p>
        <!-- Other review details -->
      <% if policy(review).destroy? %>
        <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "you sure?" }, method: :delete, class: "btn btn-danger" %>
      <% end %>
      </li>
    <% end %>
  </ul>


<% if policy(@friend).edit? %>
  <%= link_to "Edit", edit_friend_path(@friend), class: "btn btn-primary" %>
<% end %>
<% if policy(@friend).destroy? %>
  <%= link_to "Delete", friend_path(@friend), data: {turbo_method: :delete, turbo_confirm: "you sure?" }, method: :delete, class: "btn btn-danger" %>
<% end %>
