<p><%= @friend.first_name %></p>
<p><%= @friend.last_name %></p>
<p><%= @friend.age %></p>
<p><%= @friend.bio %></p>
<p><%= @friend.location %></p>
<p><%= @friend.interests %></p>
<p><%= @friend.start_date %></p>
<p><%= @friend.end_date %></p>
<p><%= @friend.price%></p>
<p><%= @friend.activity%></p>

<%= render 'bookings/form', friend: @friend, booking: @booking %>
