<div class="container">
<%= simple_form_for [@friend, @booking], data: { controller: 'flatpickr' } do |f| %>
  <div class="row">
  <div class="col">
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  </div>
  <div class="col">
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  </div>
  <div class="col">
   <%= f.input :status, collection: Booking::STATUS, selected: @booking.status || Booking::STATUS.first %>
  </div>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>
</div>
