<div class="container mt-3">
  <h1>My Bookings</h1>

  <% @bookings.each do |booking| %>
    <p>Profile: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
    <p>Friend: <%= booking.friend.last_name %></p>
    <%= booking.friend.activity %>
    <%= booking.start_date %>
    <%= booking.end_date %>
    <%= booking.num_of_days %>
    <%= booking.friend.price * booking.num_of_days %>
    <hr>
  <% end %>
</div>
